<div class="row center-xs">
	<div>
		<div class="col-md-12 index-box">
			<%= image_tag("Logo.png", :alt => "Logotipo") %>

			<div class="row">
				<div class="col-md-6">
					<h3 class= "col-md-12">¿Qué es GesClass?</h3>
					<div class="row">
						<p class="body_content col-md-12">GesClass es una herramienta de gestión completa de gestión, planificación y control para centros educativos simple e intuitiva, por lo que ahorrarás más tiempo con una gran experiencia de usuario.
						<br>
						Se adapta a las necesidades de cada entidad, y su constante evolución implica que se introduzcan mejoras periódicamente para dotar al sistema de las infraestructuras básicas y específicas de desarrollo de la gestión, sometidas tan a menudo a cambios frecuentes.
				 		<br>
						Disfruta más todas sus funcionalidades pensadas y diseñadas para hacer más fácil la vida de los 	profesores, familias y alumnos.</p>
					</div>
				</div>
				<div class="col-md-6">
					<h3 class= "col-md-12">¿Qué ofrece GesClass?</h3>
					<div class="row">
						<p class="body_content col-md-12">
							GessClass te ofrece infinidad de  herramientas que ayudarán a solucionar problemas diarios, control sobre matrículas, alumnos, actividades, etc.
							Es una aplicación integramente web, que nos permite tener un acceso a la información en tiempo real, y posibilidad de comunicación por varios canales.
						</p>
					</div>
				</div>
			</div>
			


			<div class="row">
				<h3 class= "col-md-12">Álbum de fotos</h3>
			</div>
			<div class="row galeria">
				<div class="col-md-12">
					<input type="radio" name="navegacion" id="_1" checked>
				  	<input type="radio" name="navegacion" id="_2">
				  	<input type="radio" name="navegacion" id="_3">
				  	<input type="radio" name="navegacion" id="_4"> 
				  	<input type="radio" name="navegacion" id="_5">
				  	<input type="radio" name="navegacion" id="_6">
				  	<input type="radio" name="navegacion" id="_7">
				  	<input type="radio" name="navegacion" id="_8">
				  	<%= image_tag("sala.jpg", :alt => "Galeria CSS 1", :width=>"498", :height=>"300") %>
				  	<%= image_tag("comedor.jpg", :alt => "Galeria CSS 2", :width=>"498", :height=>"300") %>
				  	<%= image_tag("patio.jpg", :alt => "Galeria CSS 3", :width=>"498", :height=>"300") %>
				  	<%= image_tag("juegos.jpg", :alt => "Galeria CSS 4", :width=>"498", :height=>"300") %>
				  	<%= image_tag("casa.jpg", :alt => "Galeria CSS 5", :width=>"498", :height=>"300") %>
				  	<%= image_tag("biblio.JPG", :alt => "Galeria CSS 6", :width=>"498", :height=>"300") %>
				  	<%= image_tag("images.jpg", :alt => "Galeria CSS 7", :width=>"498", :height=>"300") %>
				  	<%= image_tag("actividades.JPG", :alt => "Galeria CSS 8", :width=>"498", :height=>"300") %>
				</div>
  			</div>
		</div>
	</div>
</div>


