<div class="row index-box">
	<div class="col-md-1" style="background: #c2ef6b;"></div>
	<div class="col-md-10">
		<div class="row center-xs">
			<div class="col-md-5 box-menu">
				<div class="div-img hidden" >
					<%= image_tag("descargar.png", :class => "img", :alt => "Imagen descarga", :style => "width:60px; height:60px;padding: 5px;") %>
					<div class="text"><%= link_to "INSCRIPCIÓN EXTRAESCOLARES", "http://www.ampacolegioalhambra.org/IMG/pdf/Inscr_AE_N4-2.pdf"%></div>
				</div>
			</div>
		</div>
		<div class="row center-xs">
			<div class="col-md-5 box-menu">
				<div class="div-img hidden" >
					<%= image_tag("descargar.png", :class => "img", :alt => "Imagen descarga", :style => "width:60px; height:60px;padding: 5px;") %>
					<div class="text"><%= link_to "SOLICITUD DE INSCRIPCIÓN", "https://www.tramitacastillayleon.jcyl.es/web/jcyl/binarios/795/162/IAPA%20985%20Solicitud%20v20.pdf?blobheader=application%2Fpdf%3Bcharset%3DUTF-8&blobheadername1=Cache-Control&blobheadername2=Expires&blobheadername3=Site&blobheadervalue1=no-store%2Cno-cache%2Cmust-revalidate&blobheadervalue2=0&blobheadervalue3=Portal_Informador&blobnocache=true"%></div>
				</div>
			</div>
			<div class="col-md-5 box-menu">
				<div class="div-img hidden" >
					<%= image_tag("descargar.png", :class => "img", :alt => "Imagen descarga", :style => "width:60px; height:60px;padding: 5px;") %>
					<div class="text"><%= link_to "NOTIFICACIÓN PADRES", "http://www.camposdelrio.es/wp-content/uploads/2011/11/Informacion-Para-Padres.pdf" %></div>
				</div>
				 
			</div>
			
		</div>
	</div>
	<div class="col-md-1" style="background: #c2ef6b;"></div>
</div>